@font-face {
    font-family: "Garalama";
    src: url("GARALAMA.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "San";
    src: url("SanJiNengLiangHeiJianTi-2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: "Garalama", sans-serif;
}
p {
    font-family: "Garalama", sans-serif;
}
a {text-decoration: none;}
a:link {
    font-family: "黑体", sans-serif;
    font-size: 40px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    color: #2c8bc9;
}
a:visited {    
    font-family: "黑体", sans-serif;
    font-size: 40px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    color: #2c8bc9;
}
a:hover {
    font-family: "黑体", sans-serif;
    font-size: 40px;
    padding: 10px;
    border: 2px solid #2c8bc9;
    border-radius: 10px;
    background-color: #2c8bc9;
    color: #ffffff;
}
a:active {
    font-family: "黑体", sans-serif;
    font-size: 40px;
    padding: 10px;
    border: 2px solid #2c8bc9;
    border-radius: 10px;
    background-color: #2c8bc9;
    color: #ffffff;
}
#someWords1{
    font-family: "San", sans-serif;
    font-size: 50px;
    color: rgb(65, 85, 43);
    margin-top: 100px;
}
#someWords2{
    font-family: "San", sans-serif;
    font-size: 50px;
    color: rgb(65, 85, 89);
}